<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">NU CLUB</h1>
    <p class="lead">Verify Yourself!!</p>
    <hr>
    <div class="col-sm-4">

  </div>
</div>

<div class="card">
  <div class="card-body">
    <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button" style="text-align: center;">
      <i class="fab fa-google"></i>
      Sign In with Google
    </a>
  </div>
</div>
</div>

<%- include('partials/footer') %>
