<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You're secret key is generated</h1>

    <% usersWithSecrets.forEach(function(user){ %>
      <% var token = 'Welcome ' + user.name %>
      <p class="secret-text"><%=token%></p>
      <% var ciphertext = Cryptojs.AES.encrypt(user.email, 'CapStone123456789') %>
      <h5><%=ciphertext%></h5>      
      <% }) %> 

    

    <hr>



  </div>
</div>

<%- include('partials/footer') %>
